{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Symfony2 full-stack working on Azure.</h1>

    <h3>Stack proven to work</h3>
    <ul>
        <li>Uses Azure CLI generate deploy.sh & .deployment</li>
        <li>JMS/DiExtraBundle to inject my controller as a service</li>
        <li>Annotations whenever possible</li>
        <li>Twig templates</li>
    </ul>

    <sub>No thought was put into this design, nor into making this app "useful".  Your mileage may vary.  No warrantee is offered.</sub>
{% endblock%}